<h1>{{titulo}}</h1>
<hr>

<form class="needs validation" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
    <label for="nome_cliente">Nome</label>
    <input type="text" id="nome_cliente" class="form-control" name="nome" [(ngModel)]="cliente.nome">
  </div>

  <div class="form-group">
    <label for="telefone_cliente">Telefone</label>
    <input type="text" id="telefone_cliente" class="form-control" name="telefone" [(ngModel)]="cliente.telefone">
  </div>

  <div class="form-group">
    <label for="email_cliente">Email</label>
    <input type="email" id="email_cliente" class="form-control" name="email" [(ngModel)]="cliente.email">
  </div>

  <div class="endereco-fields">
    <div class="mb-2">
      <h5><strong>Endereço</strong></h5>
    </div>

    <div class="form-group">
      <label for="nome_cliente">Logradouro</label>
      <input type="text" id="logradouro_endereco" class="form-control" name="logradouro_endereco"
        [(ngModel)]="cliente.endereco_cliente.logradouro">
    </div>

    <div class="form-group">
      <label for="nome_cliente">Numero</label>
      <input type="text" id="numero_endereco" class="form-control" name="numero_endereco"
        [(ngModel)]="cliente.endereco_cliente.numero">
    </div>

    <div class="form-group">
      <label for="nome_cliente">Complemento</label>
      <input type="text" id="complemento_endereco" class="form-control" name="complemento_endereco"
        [(ngModel)]="cliente.endereco_cliente.complemento">
    </div>

    <div class="form-group">
      <label for="nome_cliente">Bairro</label>
      <input type="text" id="bairro_endereco" class="form-control" name="bairro_endereco"
        [(ngModel)]="cliente.endereco_cliente.bairro">
    </div>

    <div class="form-group">
      <label for="nome_cliente">Cidade</label>
      <input type="text" id="cidade_endereco" class="form-control" name="cidade_endereco"
        [(ngModel)]="cliente.endereco_cliente.cidade">
    </div>

    <div class="form-group">
      <label for="nome_cliente">CEP</label>
      <input type="text" id="cep_endereco" class="form-control" name="cep_endereco"
        [(ngModel)]="cliente.endereco_cliente.cep">
    </div>
  </div>

  <div class="acoes">
    <button type="submit" class="btn btn-primary mr-2">Salvar</button>
    <a [routerLink]="[backRoute]" class="btn btn-secondary">Voltar</a>
  </div>
</form>