<div class="modal-header">
  <h4 class="modal-title">Seleção de Cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <input type="text" class="form-control" name="nome" placeholder="Digite o nome do fornecedor" #busca>

  <table class="table table-hover table-responsive-md">
    <thead>
      <tr>
        <th data-field="name">ID</th>
        <th data-field="name">Nome</th>
      </tr>
    </thead>

    <tbody>
      <tr (click)="onRowClick($event.target.parentElement, cliente)" *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close(true)">Confirmar</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)">Cancelar</button>
</div>