<ngb-alert [dismissible]="false" type="danger">
  <strong>Warning!</strong> Better check yourself, you're not looking too good.
</ngb-alert>
<h1>Dados do produto</h1>

<hr>

<h4><strong>{{produto.descricao}}</strong></h4>

<p>
  <strong>Preço:</strong> {{produto.preco}}
</p>

<div class="acoes">
  <a routerLink="/produtos" class="btn btn-secondary mr-2">Voltar</a>
  <button [routerLink]="['/produto/edit', produto.id]" class="btn btn-primary mr-2">Editar Produto</button>
  <button (click)="open(content)" class="btn btn-danger">Excluir Produto</button>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirmar exclusão</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Deseja excluir o produto {{produto.descricao}}?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('sim')">Sim</button>
    <button type="button" class="btn btn-primary" (click)="modal.close('nao')">Não</button>
  </div>
</ng-template>